/* ------------------- responsive for extra small device start ------------------- */
@media(min-width:320px) and (max-width:575.98px) {

    /* --------------------- navbar responsive start --------------------- */
    .navbar-brand img {
        width: 85px;
    }

    .navbar-nav {
        gap: 35px;
    }

    .res_css {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 50px;
        background: #42454a;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav li a {
        font-weight: 500;
        color: RGBA(255, 255, 255, 1) !important;
    }

    .nav_btn a {
        width: 80px;
        height: 40px;
        background: #fff;
        color: #42454a;
    }

    .nav_btn a:nth-child(2) {
        color: #fff;
        border: 1px solid #fff;
    }

    /* --------------------- navbar responsive end --------------------- */
    /* --------------------- banner responsive start --------------------- */
    #main_banner {
	padding-top: 30px;
}
    .res_banner_img{
        display: block;
    }
    .res_banner_img {
	display: block;
}
    .banner_img{
        display: none;
    }
    .banner_text h1 {
	font-size: 45px;
	line-height: 65px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner_text .banner_border {
	width: 100%;
	margin-top: 62px;
}
.banner_text p {
	width: 100%;
	margin-bottom: 50px;
}
.buy_now {
	gap: 50px;
	flex-wrap: wrap;
}
.buy_now span {
	width: 125px;
	height: 55px;
	background: #42454A;
}
.buy_now .buy {
	font-size: 25px;
	gap: 35px;
	margin: 0 auto;
}
.buy_now .play {
	margin: 0 auto;
}
.buy_now .play_btn {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
    /* --------------------- banner responsive end --------------------- */
    /* --------------------- counter responsive start --------------------- */
#main_counter {
	padding-top: 115px;
}
.single_counter_box {
	margin-bottom: 55px;
}

    /* --------------------- counter responsive end --------------------- */
    /* --------------------- Information  responsive start --------------------- */
#main_information {
	padding-top: 60px;
}
.common_section_text h2 {
	font-size: 28px;
}
.common_section_text p {
	font-size: 17px;
	margin-top: 30px;
}
.information_right_text {
	justify-content: center;
	margin-top: 25px;
}
.information_right_text ul li img {
	width: 35px;
}
    /* --------------------- Information  responsive end --------------------- */
    /* --------------------- accessorise responsive start --------------------- */
#main_accessories {
	padding-top: 150px;
}
.accessories_content {
	margin-top: 56px;
}
.accessories_right_text h3 {
	font-size: 44px;
}
.accessorise_left_img.aos-init.aos-animate {
	width: 100%;
	margin-top: 70px;
}
    /* --------------------- accessorise responsive end --------------------- */
    /* --------------------- shopping responsive start --------------------- */
    .shopping_text h3 {
	font-size: 42px;
}
.res_shopping_img{
    display: block;
    margin-top: 60px;
}
.shopping_img{
    display: none;
}
.shopping_btn a {
	width: 100%;
	height: 80px;
	font-size: 18px;
	color: #fff;
	background: #42454a;
	border: 1px solid var(--font-color);
}
    /* --------------------- shopping responsive end --------------------- */
    /* --------------------- gallery responsive start --------------------- */


    /* --------------------- gallery responsive end --------------------- */
    /* --------------------- navbar responsive start --------------------- */


    /* --------------------- navbar responsive end --------------------- */
    /* --------------------- navbar responsive start --------------------- */


    /* --------------------- navbar responsive end --------------------- */
    /* --------------------- navbar responsive start --------------------- */


    /* --------------------- navbar responsive end --------------------- */
    /* --------------------- navbar responsive start --------------------- */


    /* --------------------- navbar responsive end --------------------- */
}

/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */