/* ------------------- responsive for extra small device start ------------------- */
@media(min-width:320px) and (max-width:575.98px) {

    /* --------------------- navbar responsive start --------------------- */
    .navbar-brand img {
        width: 85px;
    }

    .navbar-nav {
        gap: 35px;
    }

    .res_css {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 50px;
        background: #42454a;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-nav li a {
        font-weight: 500;
        color: RGBA(255, 255, 255, 1) !important;
    }

    .nav_btn a {
        width: 80px;
        height: 40px;
        background: #fff;
        color: #42454a;
    }

    .nav_btn a:nth-child(2) {
        color: #fff;
        border: 1px solid #fff;
    }

    /* --------------------- navbar responsive end --------------------- */
    /* --------------------- banner responsive start --------------------- */
    #main_banner {
	padding-top: 30px;
}
    .res_banner_img{
        display: block;
    }
    .res_banner_img {
	display: block;
}
    .banner_img{
        display: none;
    }
 .banner_text h1 {
	font-size: 36px;
	line-height: 55px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner_text .banner_border {
	width: 100%;
	margin-top: 62px;
}
.banner_text p {
	width: 100%;
	margin-bottom: 50px;
}
.buy_now {
	gap: 50px;
	flex-wrap: wrap;
}
.buy_now span {
	width: 125px;
	height: 55px;
	background: #42454A;
}
.buy_now .buy {
	font-size: 25px;
	gap: 35px;
	margin: 0 auto;
}
.buy_now .play {
	margin: 0 auto;
}
.buy_now .play_btn {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
    /* --------------------- banner responsive end --------------------- */
    /* --------------------- counter responsive start --------------------- */
#main_counter {
	padding-top: 115px;
}
.single_counter_box {
	margin-bottom: 55px;
}

    /* --------------------- counter responsive end --------------------- */
    /* --------------------- Information  responsive start --------------------- */
#main_information {
	padding-top: 60px;
}
.common_section_text h2 {
	font-size: 28px;
}
.common_section_text p {
	font-size: 17px;
	margin-top: 30px;
}

.information_right_text ul{
margin: 0 auto;

}
.information_right_text ul li {
	gap: 8px;
	margin-top: 25px;
}
.information_right_text ul li img {
	width: 35px;
}
    /* --------------------- Information  responsive end --------------------- */
    /* --------------------- accessorise responsive start --------------------- */
#main_accessories {
	padding-top: 150px;
}
.accessories_content {
	margin-top: 56px;
}
.accessories_right_text {
	margin: 0 auto;
}
.accessories_right_text ul li {
	gap: 6px;
	margin-top: 28px;
}
.accessories_right_text ul li img {
	width: 30px;
	height: 30px;
}
.accessories_right_text ul li p {
	font-size: 16px;
}
.accessories_right_text h3 {
	font-size: 28px;
	text-align: center;
}
.accessorise_left_img.aos-init.aos-animate {
	width: 100%;
	margin-top: 70px;
}
    /* --------------------- accessorise responsive end --------------------- */
    /* --------------------- shopping responsive start --------------------- */
.shopping_text h3 {
	font-size: 28px;
	text-align: center;
}
.shopping_text_end {
    width: 100%;
	align-items: center;
	margin-bottom: 60px;
}
.shopping_text {
	margin: 0 auto;
	width: 100%;
}
.shopping_text ul li img {
	width: 30px;
	height: 30px;
}
.shopping_text ul li p {
	font-size: 18px;
}
.res_shopping_img {
	display: block;
	width: 100%;
	margin: 0 auto;
}
.shopping_img{
    display: none;
}
.shopping_btn a {
	width: 100%;
	height: 80px;
	font-size: 18px;
	color: #fff;
	background: #42454a;
	border: 1px solid var(--font-color);
}
    /* --------------------- shopping responsive end --------------------- */
    /* --------------------- gallery responsive start --------------------- */
#main_gallery {
	padding-top: 68px;
}
.gallery_img {
	width: 100%;
	margin-top: 75px;
}
.gallery_buttons a {
	width: 99%;
	height: 80px;
	font-size: 18px;
	font-weight: 500;
	margin: 0 auto;
}
.gallery_img_2 {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 48px;
}
.gallery_img_3 {
	width: 100%;
}
    /* --------------------- gallery responsive end --------------------- */
    /* --------------------- colors responsive start --------------------- */
    .my_slider {
	margin-top: 70px;
}
.my_slider_nav {
	width: 100%;
	bottom: -20%;
}
.my_slider_nav .signle_slider_navs img {
	width: 98%;
}
    /* --------------------- colors responsive end --------------------- */
    /* --------------------- testimonials responsive start --------------------- */
#main_testimonials {
	padding-top: 180px;
    margin-top: 0;
}
.card_single_items {
	width: 100%;
}
.card_items .card_single_items h3 {
	width: 100%;
}
.arrow-left {
	bottom: -20%;
	left: 30%;
	background: #42454a;
	color: #fff;
}
.arrow-right {
	bottom: -20%;
	right: 30%;
	background: #42454a;
	color: #fff;
}
    /* --------------------- testimonials responsive end --------------------- */
    /* --------------------- subscribe responsive start --------------------- */
#main_subscribe {
	padding-top: 55px;
}
.subscribe_form .subscribe {
	gap: 4px;
}
.subscribe :nth-child(2) {
	padding: 10px 10px 10px 10px;
    font-size: 13px;
}
.subscribe input {
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	background: #F5F5F5;
	outline: none;
	border: none;
}
.subscribe input::placeholder {
	font-size: 14px;
}

    /* --------------------- subscribe responsive end --------------------- */
    /* --------------------- footer responsive start --------------------- */
#footer {
	margin-top: 55px;
}
.res_footer_right_img{
    display: block;
    margin-bottom: 55px;
}
.footer_right_img{
    display: none;
}
.right_content {
	justify-content: center;
	gap: 29px;
	margin-bottom: 8px;
	padding-top: 80px;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
    padding: 0;
}
.right_content h2 {
    margin-bottom: 22px;
}
.footer_text {
    text-align: center;
}
.footer_text ul {
	gap: 15px;
}
#footer p {
	font-size: 13px;
	margin-top: 100px;
}
/* --------------------- footer responsive end --------------------- */
}

/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */
/* ------------------- responsive for extra small device start ------------------- */


/* ------------------- responsive for extra small device end ------------------- */