/* --------------------------------------- google font link --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* --------------------------------------- univarse selector reset for default margin & padding --------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------------------------- common css start --------------------------------------- */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
    margin: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}
:root{
    --ubuntu:"Ubuntu", sans-serif;
    --font-color:#42454A
}
.common_section_text{
    text-align: center;
}
.common_section_text h2{
    font-family: var(--ubuntu);
    font-size: 50px;
    font-weight: 700;
    color: var(--font-color);
}
.common_section_text p{
    font-family: var(--ubuntu);
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
    margin-top: 34px;
}
/* --------------------------------------- common css end --------------------------------------- */
/* --------------------------------------- navbar css start --------------------------------------- */
.main_nav{
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #EAE8F3;
}
.navbar-brand img{
    width: 70px;
}
.navbar-nav .nav-link{
    padding: 0px !important;
}
.navbar-nav{
    gap: 76px;
}
.navbar-nav li a{
    font-size: 14px;
    font-family: var(--ubuntu);
    font-weight: 400;
    color: var(--font-color) !important;
    text-transform: uppercase;
    position: relative;
}
.navbar-nav li a::before{
    content: "";
    width: 0;
    height: 2px;
    background:  #42454A;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all linear 0.2s;
}
.navbar-nav li a:hover::before{
    width: 100%;
}
.nav_btn{
    display: flex;
    gap: 24px;
}
.nav_btn a{
    width: 106px;
    height: 48px;
    border-radius: 4px;
    font-family: var(--ubuntu);
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear 0.3s;
}
.nav_btn a:nth-child(2){
    background: #42454A;
    color: #fff;
}
.nav_btn:hover a:nth-child(1){
    background: #42454A;
    color: #fff;
}
.nav_btn:hover a:nth-child(2){
    background: #fff;
    color: var(--font-color);
}
/* --------------------------------------- navbar css end --------------------------------------- */
/* --------------------------------------- banner css start --------------------------------------- */
#main_banner{
    position: relative;
    padding-top: 84px;
}
.banner_text h1{
    font-family: var(--ubuntu);
    font-size: 90px;
    font-weight: 300;
    color: var(--font-color);
    text-transform: uppercase;
    line-height: 95px;
    letter-spacing: 1%;
}

.banner_img{
    width: 856px;
    position: absolute;
    top: 31px;
    right: 0;
}
.banner_text span{
    font-weight: 700;
    display: block;
}
.banner_text .banner_border{
    width: 335px;
    height: 4px;
    background: #42454A;
    margin-top: 93px;
    margin-bottom: 62px;
}
.banner_text p{
    width: 333px;
    font-family: var(--ubuntu);
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    color: var(--font-color);
    margin-bottom: 44px;
}
.buy_now{
    display: flex;
    gap:50px;
    align-items: center;
}
.buy_now .buy{
    font-family: var(--ubuntu);
    font-size: 20px;
    font-weight: 500;
    color:#17181A;
    letter-spacing: 2%;
    display: flex;
    align-items: center;
    gap: 13px;
}
.buy_now span{
    width: 58px;
    height: 58px;
    background: #EEEEEF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy_now .play{
    font-family: var(--ubuntu);
    font-size: 18px;
    font-weight: 500;
    color: #414449;
    letter-spacing: 1%;
    line-height: 25px;
}
.buy_now .play_btn{
    width: 80px;
    height: 80px;
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* --------------------------------------- banner css end --------------------------------------- */
/* --------------------------------------- counter css start --------------------------------------- */
#main_counter{
    padding-top: 209px;
}
.single_counter_box{
    display: flex;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.single_counter_box .counter_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    padding-top: 28px;
    padding-bottom: 33px;
}
.single_counter_box .counter_text h2 span{
    font-family: var(--ubuntu);
    font-size: 40px;
    font-weight: 700;
    color: var(--font-color);
}
.single_counter_box .counter_text h2{
    font-family: var(--ubuntu);
    font-size: 18px;
    font-weight: 700;
    color: var(--font-color);
}
.single_counter_box .counter_text h2 p{
    font-family: var(--ubuntu);
    font-size: 13px;
    font-weight: 400;
    color: var(--font-color);
}
/* --------------------------------------- counter css end --------------------------------------- */
/* --------------------------------------- Information css start --------------------------------------- */
#main_information {
    padding-top: 127px;
}
.information_right_text{
    display: flex;
    justify-content: end;
    margin-top: 143px;
}
.information_right_text ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 34px;
}
.information_right_text ul li img{
    width: 49px;
}
/* --------------------------------------- Information css end --------------------------------------- */
/* --------------------------------------- high efficiency motor css start --------------------------------------- */
#main_high_efficiency{
    padding-top: 126px;
}
.efficiency_img img{
    margin-top: 49px;
}
/* --------------------------------------- high efficiency motor css end --------------------------------------- */
/* --------------------------------------- accessories css start --------------------------------------- */
#main_accessories{
    padding-top: 315px;
}
.accessories_content{
    margin-top: 112px;
}
.accessories_right_text{
    margin-top: 48px;
}
.accessories_right_text h3{
    font-family: var(--ubuntu);
    font-size: 50px;
    font-weight: 700;
    color: var(--font-color);
}
.accessories_right_text ul{
    padding: 0px;
}
.accessories_right_text ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 33px;
}
.accessories_right_text ul li img{
    width: 49px;
    height: 49px;
}
.accessories_right_text ul li p{
    font-family: var(--ubuntu);
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
}
/* --------------------------------------- accessories css end --------------------------------------- */
/* --------------------------------------- shopping css start --------------------------------------- */
#main_shopping{
   margin-top: 131px;
    position: relative;
}
.shopping_img{
    width: 779px;
    top: 0;
    left: 0;
    position: absolute;
}
.shopping_text_end{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.shopping_text h3{
font-family: var(--ubuntu);
font-size: 50px;
font-weight: 700;
color: var(--font-color);
}
.shopping_text ul{
    padding: 0;
}
.shopping_text ul li{
    display: flex;
    align-items: center;
    margin-top: 33px;
}
.shopping_text ul li img{
    width: 49px;
    height: 49px;
}
.shopping_text ul li p{
    font-family: var(--ubuntu);
    font-size: 20px;
    font-weight: 400;
    color: var(--font-color);
}
.shopping_btn{
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.shopping_btn a{
    width: 570px;
    height: 94px;
    font-family: var(--ubuntu);
    font-size: 30px;
    font-weight: 700;
    color: var(--font-color);
    background: #fff;
    border: 2px solid var(--font-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 1s;
}
.shopping_btn a:hover{
    background-color: var(--font-color);
    color: #fff;
}
/* --------------------------------------- shopping css end --------------------------------------- */
/* --------------------------------------- gallery css start --------------------------------------- */
#main_gallery{
    padding-top: 127px;
}
 .gallery_img{
    width: 633px;
    margin-top: 302px;
}
.gallery_buttons{
    display: flex;
    flex-direction: column;
    gap: 27px;
    margin-top: 55px;
}
.gallery_buttons a{
    width: 570px;
    height: 94px;
    font-family: var(--ubuntu);
    font-size: 30px;
    font-weight: 700;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--font-color);
    border-radius: 10px;
    transition: all linear .5s;
}
.gallery_buttons a:hover{
    background-color: var(--font-color);
    color: #ffffff;
}
.gallery_img_2{
    width: 633px;
    margin-top: 112px;
    margin-bottom: 96px;
}
 .gallery_img_3{
    width: 633px;
}
/* --------------------------------------- gallery css end --------------------------------------- */
/* --------------------------------------- colors css start --------------------------------------- */
#main_colors{
    padding-top: 128px;
}

.my_slider_nav .signle_slider_navs img{
    width: 246px;
    cursor: pointer;
}
.my_slider{
    position: relative;
    margin-top: 152px;
}
.my_slider_nav{
    width: 100%;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}
/* --------------------------------------- colors css end --------------------------------------- */
/* --------------------------------------- testimonials css start --------------------------------------- */
#main_testimonials{
    margin-top: 366px;
    padding-top: 78px;
    padding-bottom: 167px;
    background: #ffffff;
}
.card_items{
    width:360px ;
    height: 366px;
    border: 1px solid #D8D8D8;
}


/* --------------------------------------- testimonials css end --------------------------------------- */
/* --------------------------------------- common css start --------------------------------------- */


/* --------------------------------------- common css end --------------------------------------- */
/* --------------------------------------- common css start --------------------------------------- */


/* --------------------------------------- common css end --------------------------------------- */